<p>Hi <%= @to_user_name %>,</p>

<p>This is your receipt for Raisin.</p>

<p>Your card was charged $5, and your subscription to Raisin is active until <%= @active_until %></p>

<p>Cheers,<br />
	Dispatch </p>