<p>Hi <%= @to_user_name %>,</p>

<p>It looks like there was a problem attempting to charge the credit card on file for your Raisin Subscription.</p>

<p>Don't worry -- your data is perfectly safe! But you'll need to go to Raisin and update your payment information to continue using Raisin.</p>

<p>Cheers,<br />
	Dispatch </p>