<p>A new account has been created on Raisin.</p>

<p>
	The account is named <strong><%= @account.name %></strong>, and was created by <strong><%= @account.users.first.name %></strong>.
</p>

<p>
 Raisin now has <%= @account_count %> accounts and <%= @user_count %> users.	
</p>

<p>Cheers, <br />
	- Dispatch</p>