<% if @user %>

<h4>My tasks</h4>

<% if @user.photo %>
	<%= image_tag @user.photo %>
<% else %>
	Set your photo!
<% end %>	

<p><%= @user.name %></p>



<% else %>

<h2 class="alert">Sorry: it looks like you're trying to see a user profile that doesn't exist, or that you're not allowed to view.</h2>

<% end %>