<div class="col-md-offset-3 signup_button_box">
	<button type="button" class="btn btn-raisin-green signup_button ">Try it free for 1 month</button>	

	<span class="price_display"> Raisin is <strong>only $5/month</strong> </span>
</div>