<div class="col-md-offset-3 signup_button_box">
	<a class="no_unerline_link" href="<%= new_account_path %>">
		<button type="button" class="btn btn-raisin-green signup_button ">Try it free for 2 months</button>	
	</a>	

	<span class="price_display"> Raisin is <strong>only $5/month</strong> </span>
</div>