<div class="col-md signup_button_box">
	<a class="no_unerline_link" href="<%= new_account_path %>">
		<button type="button" class="btn btn-raisin-green signup_button ">Sign up for free</button>	
	</a>	

</div>