<div class="row">
	<section class="col-md-8 col-md-offset-2">
		<h2>Help!</h2>
	
		<p class="bg-raisingreen">
			Did you find a bug? <em>Please</em> email me: jason@prestons.me
		</p>
	
		<h4>The Basics of using Raisin</h4>
		
		<p>
			Raisin is a tool for sharing to-do lists and to-dos with family members and other folks you want to work together with in your personal life. You can use it any way you like, of course, but there are a few basic concepts behind the site and how you are "supposed" to use it. 
		</p>	
		
		<h5>Accounts, Projects, and To-do's</h5>
		
		<p>
			Raisin is organized by accounts (for families) and projects (things that need doing). When you signed up for raisin, you created an account for your family. Accounts are $5/mo, and you can create as many as you need, but mostly you should only need one.
		</p>
		
		<p>
			Within your account, you can create projects. A project could be something that you need to do yourself, or with others in your family, or with others not in your family. Some examples of projects could include: planning a move, planning a vacation, organizing a party, or a wedding, or a PEPS meetup, and so on. A project can also be something that is never really going to end -- something like "Errands."
		</p>
		
		<p>
			Inside of projects, you can create to-do lists. In those to-do lists, you can create to-dos! To-do items can be assigned to a <em>participating</em> family members, and can be given a due date. If you assign a to-do to someone other than yourself, <em>and</em> it has a to-do date, that person will get an email notifying them that you've assigned it. 
		</p>	
		
		<p>
			When you complete a to-do that someone else assigned to you, they'll get an e-mail letting them know you've completed it. If on any given day there are to-do's assigned to you that are due, you'll receive a digest email in the morning with the tasks on your list for the day.
		</p>
		
		<h5>Comments</h5>
		
		<p>
			To-do items can be commented on. If you leave a comment on a to-do item, you have the option to send the comment as an e-mail to other folks who are also included in the parent project for that to-do list. 
		</p>
		
		<p>
			If you receive a comment as an e-mail, you can hit reply to leave a comment in response. It will be posted to the item's page on Raisin, <em>and</em> it will be emailed back to the original commenter, plus any other folks who received the initial comment email.
		</p>	
		
		<h5>Family Members</h5>
		
		<p>
			When you add a family member to your account, you'll get to choose whether the family member is a <em>participating</em> or <em>non-participating</em> family member. A participating family member gets to interact with Raisin just like you do, whereas a non-participating member will not be given any log-in credentials. 
		</p>
		
		<p>
			Family members act just like projects for now. You can add to-do lists and to-do items to those lists, with due dates and assignees. You can comment on those to-dos and the email notifications will work just the same as for regular projects. 
		</p>
		
		<p>
			Family member to-do lists are designed for those to-dos that have to do with a particular person but don't warrant their own project, and aren't necessarily going to be assigned to that person. So you might put to-do's related to scheduling a haircut for a kid, or going through snail mail, and so on, into to-do lists attached to a person. 
		</p>
		
		<p>
			Family members are automatically visible to all other family members on the account, and the contents of family member pages cannot be shared with people who are not also family members. 
		</p>
		
		<h5>The "My Tasks" Tab</h5>
		
		<p>
			The My Tasks tab is meant to be a handy dashboard for seeing everything related to YOU. Right now, that means to-do items that are assigned to you (and not already completed).
		</p>	
		
		<p>
			You can use the filter box at the top to filter for tasks by date range using several handy pre-defined and hopefully self-explanatory scopes: "Everything", "This Week", "Today", "Tomorrow", "Overdue" and "In the future." Only "Everything" will show everything -- for example, choosing "Overdue" will only show tasks that are overdue by less than one month. 
		</p>
		
		<h4>Future Features</h4>
		
		<p>
			Raisin is a personal project of Jason Preston, and the more folks support it by signing up, the more time he's able to devote to maintaining and upgrading it. There's a whole bunch of cool stuff in the pipeline: comparing calendars for conflicts and babysitting needs, uploading and attaching files to projects, to-do's, or conversations. For that matter, conversations are still in the pipeline.
		</p>
		
	</section>
</div>	