<div class="row">

	<section class="col-md-10 col-md-offset-1 home_page_content">

	<h1 class="centered">Raisin</h1>

	<h2 class="centered">Project management for families</h2>

	<p class="lead">Because raising a family is like running a business without the expense account.</p>

	<div class="rightquote">
		"Here's a quote about how great Raisin is for my family. Realistically, the quote will probably be at least a sentence or maybe two in length."
		<span class="quote_attribution">
		 - Albert Einstein, <%= link_to "The Universe", "#" %>
		</span>	
	</div>
	
	<p><strong>Raisin is a <em>crazy simple</em> way for families to keep things running smoothly.</strong></p>

	<p>Raisin will help you:</p>
	<ul>
		<li>Feel in control of the <em>other</em> half of your life</li>
		<li>Remember the important deadlines on things around the house (call a plumber!)</li>
		<li>Track and share -- as needed -- important information about your kids</li>
		<li>Communicate with your partner about what needs to get done -- and track when it's complete</li>
		<li>Make sure you pack everything for your vacation. Maybe you'll even ship a few things ahead of time</li>
		<li>Plan an anniversary party or a friend's wedding</li>
	</ul>
		
	<div class="row signup_row">	
		
		<%= render 'beta_code' %>
		
	</div>	
	
	<div class="row">
	
		<div class="letter_from_jason col-md-8 col-md-offset-2">
			<p>Hi,</p>
		
			<p>I'm <a href="http://twitter.com/jasonp">Jason Preston</a>, the creator of Raisin. </p>
		
			<p>I built Raisin because my wife and I needed something to help us stay in-sync on all the different tasks and to-dos that seem to just grow on trees when you've got two young professionals building a family: have we gone through the mail? Did we schedule our son's haircut? Where are we on our daughter's passport application? Did we get babysitting for that evening where we're both supposed to go to an event? And so on.</p>
		
			<p>Raisin is a super simple way to share to-do lists and projects with other family members. You can create a project for anything (they're unlimited -- make as many as you'd like), like "Vacation to see the grandparents," and inside the project you can put to-do lists ("Things to pack"), and give them due-dates and assign people to do them. Raisin will help you do all of this by email if you'd like, and will send out notifications when things are due and when things are completed.</p>
		
			<p>You can check out some example projects that I've made public. All projects in Raisin are private by default, but you can invite as many people as you'd like to participate on a project-by-project basis. They won't have access to any of your stuff outside of that one project.</p>
		
			<p>It's probably not the right tool for everyone, but I think Raisin can be helpful for a lot of stuff. It's one of those things that's easier to just use than explain -- so please take advantage of a free month's trial, and see how Raisin can be helpful for you.</p>
		
			<p>Cheers, <br />
			&nbsp;&nbsp;- Jason 
			</p>
		
			<p>p.s. I love to hear from folks with ideas, criticisms, or feedback any time. You can email me at jason@prestons.me</p>
		</div>
	</div>	
		


</div>