<h1>Raisin</h1>

<h4>Project management for the most important startup of your life.</h4>

<p>You can <%= link_to "create an account", new_account_path %> or <%= link_to "log in", new_user_session_path %> to an existing account.</p>