<h2><%= @project.title %> <span class="edit_project_headline_link"><%= link_to "[ Edit ]", '#', id: "edit_project_headline_link", remote: true %></span></h2>

<div class="">
	<h5 class="project_description"><%= @project.description %></h5>
</div>