<p>Hello, <%= @name %></p>
<p>
<%= @from_name %> has invited you to join the family on Raisin. Raisin is an elegant, powerful way to help you manage the most important startup of your life: your family. 
</p>
<p>
To login to the site, just follow this link: 
</p>

<p><%= @url %></p>

<p>Cheers,<br />
	- Jason Preston
	</p>
