// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mid-gray: lighten(#000, 46.7%);
$light-gray: lighten(#000, 89.7%);
$practically-white: lighten(#000, 95.0%);
$dark-gray: lighten(#000, 20%); 
$comment-link-gray: lighten(#000, 35%);   

$todo-list-blue: #1d428b;

.comments_section {
	margin-top: 1em;
	margin-bottom: 1em;
}

.intro_meta {
 color: $mid-gray;
}

#new_comment_form {
	margin-top: 1em;
}

#comments_list {
	padding-top: 1em;
}

.comment_display_box {
	margin-left: 15px;
	margin-top: .3em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $light-gray;
}

.comment_content {
	margin-top: .5em;
}

.comment_footer {
	color: $mid-gray;
	margin-top: .5em;
}
.comment_footer a {
	color: $comment-link-gray;
	text-decoration: underline;
}

.notifiable_user_checkbox {
	margin-right: .5em;
}