// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mid-gray: lighten(#000, 46.7%);
$light-gray: lighten(#000, 89.7%);
$practically-white: lighten(#000, 95.0%);
$dark-gray: lighten(#000, 20%); 
$comment-link-gray: lighten(#000, 35%);   

$todo-list-blue: #1d428b;

.comments_section {
	margin-top: 1em;
	margin-bottom: 1em;
}

.intro_meta {
 color: $mid-gray;
}

/* 
.quill-wrapper {
	border: 1px solid $light-gray;
	border-radius: 5px;
}

.ql-toolbar-container {
	border-bottom: 1px solid $light-gray;
}

#full-editor .editor-container p {
	margin-bottom: 1em;
} */

#new_comment_form {
	margin-top: 1em;
}

#comments_list {
	padding-top: 1em;
}

.comment_display_box {
	margin-left: 15px;
	margin-top: .3em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid $light-gray;
}

.comment_content {
	margin-top: .5em;
}


.comment_footer {
	color: $mid-gray;
	margin-top: .5em;
}
.comment_footer a {
	color: $comment-link-gray;
	text-decoration: underline;
}

#inline_edit_link {
	display: inline;
}

#show_edit_comment_form_link {
	color: $comment-link-gray;
	text-decoration: underline;
	padding: 0;
	font-size: 100%;
}

.notifiable_user_checkbox {
	margin-right: .5em;
}

/*#cancel_update_comment_link_button {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: -12px;
} */

.edit_comment_cancel_form {
	width: 100px;
	display: inline-block;
}

.update_comment_button {
	width: 137px;
	display: inline-block;
}

/******
****
*********** QUILL
**
***/

#new_comment_form_quill {
}
#toolbar {
	border: 1px solid #ccc;
}

#new_comment_editor {
	border: 1px solid #ccc;
	border-top: 0px;
	padding: 1em;
}

#new_comment_editor ul {
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
	margin-top: 1em;
}

.editor_button {
	border: none;
}