// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mid-gray: lighten(#000, 46.7%);

/*******
*********
***    Structural Elements
***
*/

.navbar-brand {
	margin-left: -20px;
}

.footer-text {
	text-align: center;
	width: 100%;
	font-size: 90%;
	color: $mid-gray;
}


/*******
*********
***    New account page
***
*/

.new_account {

}


/*******
*********
***    Show Account Page
***
*/

.project_box, .family_member_box {
	padding: .5em;
	border: 1px solid $mid-gray;
	width: 250px;
	margin-right: 10px;
	display: inline-block;
	margin-bottom: 15px;
}

.project_box_title {
	font-weight: bold;
}