// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mid-gray: lighten(#000, 46.7%);
$light-gray: lighten(#000, 89.7%);
$practically-white: lighten(#000, 95.0%);


/*******
*********
***    Structural Elements
***
*/

.navbar-brand {
	margin-left: -20px;
}

.footer-text {
	text-align: center;
	width: 100%;
	font-size: 90%;
	color: $mid-gray;
}

footer {
	margin-top: 25px;
	border-top: 1px solid $light-gray;
	padding-top: 15px;
}

header {
	margin-bottom: 30px;
}


/*******
*********
***    New project page
***
*/

.new_project_page_box {}

.cancel_new_project { margin-left: 5px;}

/*******
*********
***    New account page
***
*/

.new_account {

}

/*******
*********
***    New member page
***
*/


.member_headline {
	margin-bottom: 2em;
}

.callout {
	
}

/*******
*********
***    Show Account Page
***
*/

.project_row {
	display:inline-block;
}

.family_member_box {
	width: 125px;
	height: 125px;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	padding-top: .7em;
}

.add_new_member {	padding: .8em; padding-top: 1.3em; border: 1px dashed $light-gray; }
.new_member_desc { font-size: 200%; }
.project_box_photo { margin: .3em; margin-bottom: .6em;}

.project_box {
	padding: .5em;
	border: 1px dashed $light-gray;
	background: $practically-white;
	width: 150px;
	height: 150px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
}

.add_new_project {
	background: transparent;
	border: 1px dashed $light-gray;
	text-align: center;
	padding-top: 2.2em;
}

.project_box_title {
	font-weight: bold;
}