// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$mid-gray: lighten(#000, 46.7%);
$light-gray: lighten(#000, 89.7%);
$practically-white: lighten(#000, 95.0%);
$dark-gray: lighten(#000, 20%);   

$todo-list-blue: #1d428b;

/*******
*********
***    New project page
***
*/

.new_project_page_box {}
.cancel_new_project { margin-left: 5px;}



.completed_page_top {
	border-bottom: 1px solid $light-gray;
	margin-bottom: 1.5em;
	background: $practically-white;
}

/*******
*********
***    Show project page
***
*/

.list_item_actionable_box_margin {
	margin-bottom: .1em;
}

.invite_new_collaborator_link {
	float: right;
	margin-top: 1em;
	text-align: right;
}

.starts_hidden {
	display: none;
}

.garage_notice {
	border-top: 3px double #ef5900;
	border-bottom: 3px double #ef5900;
	padding: .5em;
}

.project_page_top {
	border-bottom: 1px solid $light-gray;
	margin-bottom: 1.5em;
}

.project_description{
	font-size: 14px;
	color: $mid-gray;
}

.left-adjust {margin-left: 15px;}
.right1em {margin-right: .3em;}

.new_list_form_row {
	margin-top: 1em;
}

h5.todo_list_title a {
	/* color: #7c463a; */
	border-bottom: 1px solid #ef5900;
} 
h5.todo_list_title a:hover {
	text-decoration: none;
	border-bottom: 1px solid darken(#ef5900, 15%);
}

h5.todo_list_title .edit_list_title_link_span a {
	color: $light-gray;
	text-decoration: none;
	border-bottom: none;
}

h5.todo_list_title .edit_list_title_link_span a:hover {
	color: $mid-gray;
}

.todo_list_items {
	margin-left: 1em;
}

.todo_list_box {
	margin-bottom: 2em;
}

#show_new_todo_form_link_box {
	margin-bottom: 2em;
}
#new_todo_form {
	margin-bottom: 1em;
}

.completed_queue {
	margin-left: 1em;
	font-size: 86%;
}

.recently_completed_header {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: .3em;
}

.new_list_item_form_row {
	margin-left: .5em;
	margin-top: .5em;
}

/* Form fields */

#link_options {
	vertical-align: bottom;
	margin-bottom: -4px;
}

#list_title, #inline_edit_list_title {
	width: 500px;
	border-radius: 0; 
	-webkit-box-shadow: none;; 
	box-shadow: none; 
	-webkit-transition: none; 
	-o-transition: none;
	transition: none; 
	border: none;
	border-bottom: 1px dashed $light-gray;
}

a.todo_item-link {
	color: $dark-gray;
}

#inline_edit_list_title {
	margin-left: 1em;
}

#todo_item_input{
	width: 475px;
}
.new_list_item_cancel_link {
	margin-left: 1em;
	margin-top: .5em;
}
.add_todo_item_link {
	margin-top: .5em;
}

.todo_assigned_person_label {
/*	background: #d69c84; */
	background: lighten(#d69c84, 24.0%);
	font-size: 89%;
	padding: 2px;
	padding-left: 4px;
	color: $dark-gray;
	border-radius: 3px;
	margin-left: .5em;
	margin-right: .5em;
}

.todo_due_date_label {
	font-size: 89%;
	color: $mid-gray;
}

#show_edit_item_form_link {
	color: $practically-white;
}
#show_edit_item_form_link:hover {
	color: $mid-gray;
}


#todo_due_date_input {
	width: 125px;
}

#hidden_settings_form {
	display: none;
}

#edit_family_member_project {
	display: none;
}

#hidden_new_todo_form {
	display: none;
}

a.completed_todo {
	color: $mid-gray;
}

#hidden_settings_form {
	border-top: 3px double $light-gray;
	background: $practically-white;
	padding: 1em;
}

