// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #3a7c6a;
$light-green: lighten(#3a7c6a, 20%);

#stripe_error {
	color: red;
	margin-top: 1em;
	margin-bottom: 1em;
}

.subscription_page {
	border-radius: 8px;
	padding: 1em;
	background: white;
}

.card_type {
}

.cancel_section {
	margin-top: 2em;
}

#new_subscription {
	border: 1px solid $green;
	border-radius: 5px;
	padding: 1.5em;
	padding-top: .8em;
}