<h4>Whoa, it looks like you're part of more than one family! Don't worry, that's just fine ... which one are you looking to work with right now?</h4>

<ul>
	<% @accounts.each do |a| %>
		<li><%= link_to a.name, a %></li>
	<% end %>
</ul>